body{
    background-color: aqua;
}
.heading1{
    background-color: blue;

}
.heading2{
    color: blueviolet;
    font-size;60px;
    font-style: italic;
    text-decoration: line-through;
    text-decoration:rgb(21, 20, 18);
    text-decoration-style;dotted


    letter-spacing: 30x;
    text-shadow:3px blue;



}

.para{
    font: weight 4px;;
}
.head3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






































































































}